body{
  background-color: hsl(217, 28%, 15%);
  color:white;
  overflow-x: hidden;
  margin: 0 auto;
  margin: 0 2rem 0 0;
  width: fit-content;
  width: -moz-fit-content;

}

ul{
  list-style-type: none;

}
.logo>img{
  width:15rem;
  padding: 0rem 2rem;
}
.container,.navbar-list{

  display: flex;flex-direction: column
}
.navbar-list{
  justify-content: space-evenly;
  margin-left: -1rem;
  align-items: center;
  flex-direction: row;
}
.navbar-list-items:hover{
  transform: translateY(-10%);
 text-decoration: underline 3px solid white;

}
.intro{
  margin-top: 2rem;
}
.intro>img{

  width: 86vw;
  height: 73vw;
  padding: 0rem 2.5rem 0 ;
}

.intro-container{
  background:hsl(218, 28%, 13%);
  width: 100vw;
  text-align: center;
  margin-top: -1rem;


}
p{
  color:gray;
  padding:2rem 2rem;
}
#startBtn,#btn{
  padding: 1rem 5rem;
  background: hsl(176, 68%, 64%);
  outline:none;
  border: none;
  border-radius: 5rem;
  color:white;
  font-size: 20px;
}
.grid-container{
  margin: 4rem 0rem;
  display:grid;
  display:-ms-grid;
  grid-template-rows: repeat(4,1fr);
  -ms-grid-row: repeat(4,1fr);
  padding: 0rem 2rem;
  gap:5rem;
}
.grid-container>*>h2{
  padding: 1rem 0rem;
  
}
.grid-container>*>p
{
 color:rgb(165, 160, 160)
}
#stay{
  width: 86vw;
  height: 73vw;
  padding: 0rem .5rem 0 0rem;

}
.middle-section>*{
  text-align: left;
  padding: 0rem 2rem;
  
} 
.middle-section>h2{
  margin-top: 2rem;
}
a{
  color: hsl(198, 60%, 50%);
  margin-left: -7.8rem;
  padding-bottom: 1rem;

  width: 4rem;
}
i{
  margin: 0rem .5rem;
}

.testimonial-grid-container{
  display: grid;
  margin-top: 5em;
  display: -ms-grid;
  grid-template-rows: repeat(3,1fr);
  -ms-grid-row: repeat(3,1fr);
  gap:3rem;


}
.col-1,.col-2,.col-3{
  margin: 0rem 2rem;
  background: hsl(219, 30%, 18%);
  border-radius: 1rem;

}

#bg-quote{
 position: absolute;
 top:213.5rem;
 left:5rem;
}

.col-1>p ,.col-2>p,.col-3>p{
  font-size: 22px;
  color:white
}
.sub-grid>img{
  border-radius: 50%;
}
.sub-grid>*{
  font-size: 16px;
  color:gray
}
.sub-grid>h4{
   font-size: 14px;
   font-weight: 400;
}
form{
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 2rem 2.5rem;
}
form>*{
  margin: 1rem 0rem;
}
#btn{
  padding: 1rem 2rem;
 
}
input[type="email"]{
  border-radius: 5rem;
  outline:none;
  border: none;
  padding:1rem 2.5rem;


}

::placeholder{
  color:rgb(196, 192, 192)
}
.bottom-section{
  background-color: hsl(217, 28%, 15%);


    border-radius: .5rem;
    padding: 1rem;
    margin: 2rem auto;
}
.footer{
  background-color:  hsl(216, 53%, 9%);
  margin-top: -1.9rem;
}
.contact-section>h2{
  text-align: center;
}
.contact-section,.address,.phone,.mail{
  margin: 1rem 1rem;
  text-align: left;
  padding: 1rem 0rem;
}
.menu-1,.menu-2,.social-brands{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0rem;
  padding:0rem 2rem 2rem;

}
#alert{
  padding: 0;
  margin-top: -1rem;
  
}
@media only Screen and (min-width:768px){
  body{
    height: fit-content;
  }
  .container{
    flex-direction: row;
    gap:45rem;
    padding:2rem 0rem;
  }
  .navbar-list{
    gap:5rem;
    font-size: 20px;
  }
  .intro>img{
    padding:0rem 12rem; 
    width: 70vw;
    height: 70vh;
  }
  #stay{
    padding:0rem 12rem; 
    width: 70vw;
    height: 70vh;
  }
  .grid-container{
    grid-template-columns: 1fr 1fr;
    -ms-grid-column: 1fr 1fr;
  }
  .testimonial-grid-container{
    -ms-grid-column: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    padding-right: 2rem;
  }
  a{
    margin-left:2rem;
  }
  .middle-section{
    margin-top: -50rem;
  }
  .middle-section>h2,.middle-section>p{
    text-align: center;
  }
  #bg-quote{
    top: 165rem;
    left:2rem;
  }
  .bottom-section{
    margin-top: -60rem;
    width: 75vw;
    height: 55vh;

  }
  .bottom-section>p{
    padding:0rem 5rem;
  }
  form{
    margin: 0rem 8rem;
    padding: 0 5rem;
  }
  input{
    width:45vw
  }
 
  #btn{
    width:50vw;
    }
  .footer{
    text-align: center; 
    display: grid;
    display:-ms-grid;
    -ms-grid-column: repeat(2,5fr);
    grid-template-columns: repeat(2,5fr);
    height: 60vh;
    padding:3rem;

   
  }
  .contact-section{
    padding: 0rem 5rem;
  }
  .footer-menu{
    margin-top: 4rem;
    display: grid;
    display:-ms-grid;
    -ms-grid-column: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .menu-1,.menu-2{
    flex-direction: column;
    gap:2rem;
  }
  .social-brands{
    margin-top: 7rem;
    margin-left: -15rem;
    margin-right:10rem;
  }
  
  #alert{
    margin-left: -62rem;
    padding: 0;
  }

  
 }
 @media screen and (max-width:450px) {
   body{
     margin: 0 auto;
   }
   
 }
